.home {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 215px));
    gap: 30px;
  }

  &__notfound {
    font-size: 18px;
  }

  &__line {
    height: 2px;
    background-color: red;
    grid-column: -1 / 1;
  }
}
