.home {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;

  &__filter {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 215px));
    gap: 30px;
  }

  &__notfound {
    font-size: 18px;
  }

  &__line {
    position: relative;
    height: 2px;
    background-color: rgb(201, 197, 197);
    grid-column: -1 / 1;

    &-title {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -10px);
      background-color: white;
      width: 60px;
      text-align: center;
      color: grey;
      font-size: 20px;
    }
  }

  &__btn {
    width: 35px;
    position: fixed;
    left: 97%;
    top: 90%;
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    &__filter {
      flex-direction: column;
    }
  }
}
